/*STARTS HERE...*/

/*This CSS applies for Log-in page*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(221, 221, 194);
}

.heading {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background-attachment: fixed;
  background-color: black;
  max-height: 300px;
  min-height: 40px;
}
nav{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 60%;
}

.help a{
  text-decoration: none;
  list-style: none;
  color: red;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding-top:-10px ;

 
}

.container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  background-image: url("./Assets/LoginBackground.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}
.search-container {
  min-width: 200px;
  background-color: transparent;
  max-height: 39px;
  border-radius: 30px;
  position: relative;
  width: 300px;
  margin: 6px 0 0 0;
}

.logo {
  color: rgb(214, 47, 47);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
}
.search-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #db8a11;
  background-color: transparent;
}

.search-container input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #f10e0e;
  border-radius: 25px;
  outline: none;
  background-color: transparent;
}
.search-container input:active {
  outline: none;
}

.search-container i {
  color: red;
}

.login-box {
  display: flex;
  gap: 100px;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid black;
  position: relative;
  padding: 10%;
}
.welcome h1 {
  font-family:
    "Inter",
    Poller One,
    menbere;
  font-weight: 900;
}
.signup-btn {
  padding: 12px 12px 12px 10px;
  border: 1px solid #0fda31;
  border-radius: 25px;
  outline: none;
  align-items: center;
  min-width: 150px;
  color: rgb(253, 253, 252);
  background: rgba(15, 226, 120, 0.815);
  font-family:
    "inter",
    Bebas Neue;
  margin: 20px 0;
}

.main {
  position: relative;
  padding: 10% 0;
  color: black;
  font-family: menbere;
  font-weight: 800;
}

.main input {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 7%;
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  min-height: 30px;
  min-width: 250px;
  outline: none;
}
.main input:focus {
  animation: fadeup 0.3s;
}
.login-btn {
  min-width: 300px;
  min-height: 30px;
  border-radius: 3px;
  border: none;
  background-color: #34c508;
  margin: 10px 0;
}

.icons {
  justify-content: center;
  margin-bottom: 30px;
}
.icons a {
  text-decoration: none;
  justify-content: space-around;
  padding: 0 20px;
  color: white;
  font-size: 30px;
  margin: 10px;
}
.icons a:hover {
  box-shadow: 0 0 10px white;
  transition: translateY(-5px);
}
.footer {
  text-align: center;

  background-color: #000;
  color: white;
  height: 20vh;
}
.footer p {
  align-items: center;
  position: relative;
  top: 80%;
}

/* 
this css applies for sign up page */

.heading-s {
  text-align: center;
  height: 60px;
  align-items: center;
  margin: 50px 20% 20px;
  font-size: 1.5rem;
  background-color: rgba(17, 134, 26, 0.973);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  padding: 10px;
}

.container-s {
  display: flex;
  height: 70vh;
  border: 1px solid rgb(9, 255, 0);
  border-radius: 10px;
  margin: 0 20%;
}

.main-s {
  display: flex;

  gap: 53px;
  height: 60vh;
}
.main-s label {
  font-family: menbere;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(5, 245, 5);
}
.column-1 {
  padding: 100px 10px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.back {
  background-image: url(./Assets/signupBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vh;
  margin: 12px;
  display: auto;
  border-bottom-left-radius: 10px;
}

.column-1 input {
  border-radius: 7px;
  height: 45px;
  gap: 30px;
  width: 220px;
  color: brown;
}
.column-2 {
  padding: 100px 10px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.column-2 input {
  border-radius: 7px;

  height: 44px;
  width: 220px;
  color: brown;
}
#password {
  border-color: red;
}

#name {
  border-color: green;
}
#name:focus {
  background-color: rgb(181, 228, 228);
}
.btn-s input {
  background-color: green;
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin: 0 30%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.log {
  margin: 10px 30%;
  font-size: 20px;
  width: 300px;
}

.log input {
  color: rgb(73, 9, 248);
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
}
.log {
  display: flex;
}
